@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.recent-gallery {
  @include main;
  font-family: oswald;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  padding-top: 1rem;
  margin-top: 0rem;
  &__title {
    @include h2-title;
    font-size: 1.2rem;
  }
  &__image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
    align-content: flex-start;
  }
  &__image-container {
    transition: top 0.3s ease, left 0.3s ease;
  }
  &__image-modal {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: filter 0.3s ease;
    &:hover {
      filter: brightness(70%);
    }
    @include gallery-container;
    @include tablet {
      height: 300px;
      width: 340px;
    }
    @include desktop {
      height: 400px;
      width: 475px;
    }
  }

  &__text {
    font-size: 0.75rem;
    background-color: $selfie-black;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 200;
    @include tablet {
      font-size: 1rem;
    }
  }
}
