@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.recent-gallery {
  @include main;
  font-family: oswald;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  padding-top: 1rem;
  margin-top: 0rem;
  &__title {
    @include h2-title;
    font-size: 1.5rem;
  }
  &__image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
    align-content: flex-start;
  }
  &__image-container {
    height: 200px;
    width: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      height: 300px;
      width: 300px;
    }
    @include desktop {
      height: 400px;
      width: 400px;
    }
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 9px;
  }

  &__text {
    align-self: center;
    font-weight: 200;
    font-size: 1rem;
  }
}
.imgLink:active,
.imgLink:focus {
  height: 800px;
  width: 800px;
}
