@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.likes-counter {
  align-self: center;
  font-size: 0.75rem;
}
