@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &__register {
    @include button;
  }
  &__link:hover {
    font-size: inherit;
  }
}
