@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.profile {
  @include main;
  @include form;
  padding-top: 1rem;
  &__email {
    font-weight: 300;
  }
  &__button {
    @include button;
  }
  &__link:hover {
    color: black;
  }
}
