@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin main {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;

  @include tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include desktop {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@mixin button {
  background-color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  color: #141414;
}
@mixin h2-title {
  display: flex;
  font-size: 2.5rem;
  font-weight: 200;
  align-self: center;
  border-bottom: solid 1px white;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 2rem;
}
