@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin main {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;

  @include tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include desktop {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@mixin button {
  background-color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  color: #141414;
}
@mixin h2-title {
  display: flex;
  font-size: 2.5rem;
  font-weight: 200;
  align-self: center;
  border-bottom: solid 1px white;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 2rem;
}
@mixin form {
  border-top: solid 1px white;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__form {
    width: 400px;
  }
  &__title {
    @include h2-title;
    font-size: 1.25rem;
    border: none;
  }
  &__form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__form-text {
    color: $selfie-black;
  }
  &__error {
    color: red;
    text-align: center;
  }
  &__success {
    color: green;
    text-align: center;
  }
}
@mixin button {
  margin: 2rem;
  border-radius: 4px;
  border: none;
  background-color: white;
  color: $selfie-black;
  text-transform: uppercase;
  width: 130px;
  height: 45px;
  &:hover {
    background-color: rgb(216, 216, 216);
  }
}
