@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.upload {
  @include main;
  @include form;
  &__form-dropdown {
    color: black;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__upload {
    @include button;
  }
}
