@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.upload {
  border-bottom: solid 1px white;
  @include main;
  @include form;
  padding-left: 1rem;
  &__form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form-text {
    width: 100%;
  }
  &__form-dropdown {
    color: grey;
    width: 100%;
    &--options {
      color: black;
    }
  }
  &__title {
    margin: 0rem;
    padding-bottom: 0.5rem;
  }
  &__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
  }
  &__input-input {
    color: black;
    width: 100%;
    background-color: white;
    cursor: pointer;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__upload {
    @include button;
    align-self: center;
  }
}
