@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.login {
  @include main;
  @include form;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &__login {
    @include button;
  }
}
