@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.upload {
  @include main;
  @include form;
  &__form-dropdown {
    color: black;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &__upload {
    @include button;
    width: 500px;

    height: 87px;
  }
}
