@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $selfie-black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px white;
  padding-top: 1rem;
  @include desktop {
  }
  @include main;
  &__logo {
    &--image-selfie-logo {
      height: 60px;
      @include tablet {
        height: 80px;
      }
    }
    &--image-selfie-logo:active {
      height: 50px;
      @include tablet {
        height: 70px;
      }
    }
    &--image-git {
      padding-top: 7px;
      height: 41px;
      padding-right: 0.5rem;
    }
    &--image {
      height: 50px;
    }
  }
  &__link {
    padding-left: 1rem;
  }
  &__link-container {
    display: flex;
    flex-direction: row;
  }
}
